html, body, #root {
  height: 100%;
  width: 100%;
}

.round, .center, .particle, .stroke, .fire {
  opacity: 0;
  transform-origin: center center;
}

.center {
  transform-origin: center center;
}

#mead {
  overflow: visible;
}

* {
  overflow: visible;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100%;
}

.logo {
  width: 300px;
  height: 300px;
}

.cls-1{fill:#914b1f}.cls-2{fill:#c3792c}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
